.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3%;
}
.Home .node {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3%;
}
.Home .node:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Home .img {
  width: 40%;
  border-radius: 25px;
}
.Home p {
  width: 40%;
  font-size: 1rem;
  line-height: 1.5;
}
